@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="col-6 ">
                        HUMAN RESOURCES ADMİN PANEL
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-people mt-0">
                        <img src="https://miaimagecdn.mncdn.com/mnresize/300/300/items/vendor/rakun-home_logo-642533506ce9e.png" alt="people">
                        <div class="weather-info">
                            <div class="d-flex">
                                <div>
                                    <h2 class="mb-0 font-weight-normal"><i class="ti-star mr-2"></i></h2>
                                </div>
                                <div class="ml-2">
                                    <h2 class="location font-weight-bold">Human Resources</h2>
                                    <h6 class="font-weight-normal"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin transparent">
                <div class="row">
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-tale">
                            <div class="card-body">
                                <p class="mb-4">Toplam İş İlan Sayısı</p>
                                <p class="fs-30 mb-2">Human Resources</p>
                                <p>İş İlanı Adetlerini Görmek İçin Tıklayın</p>
                                <a asp-controller="Advert" asp-action="Index" class="float-right btn btn-light">İncele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-dark-blue">
                            <div class="card-body">
                                <p class="mb-4">Toplam Başvuru Sayısı</p>
                                <p class="fs-30 mb-2">Human Resources</p>
                                <p>Başvuru Yapanları incelemek İçin Tıklayınız</p>
                                <a asp-controller="Recourse" asp-action="Index" class="float-right btn btn-light">İncele</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    </div>
                   
                
                <div class="row">
                    <div class="col-md-6 mb-0 mt-5 mb-lg-0 stretch-card transparent">
                        <div class="card bg-white d-flex align-items-center">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="ti-instagram text-youtube icon-lg"></i>
                                    <div class="ml-3">
                                        <h6> <a href="#" class="text-youtube text-decoration-none">İnstagram da Biz</a></h6>
                                        <p class="mt-2 text-muted card-text"> Gönderiler</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-0 mt-5 mb-lg-0 stretch-card transparent">
                        <div class="card bg-white d-flex align-items-center">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="ti-facebook text-primary icon-lg"></i>
                                    <div class="ml-3">
                                        <h6> <a href="#" class="text-primary text-decoration-none">Facebook da  Biz</a></h6>
                                        <p class="mt-2 text-muted card-text">Gönderiler</  p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>






    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  from <a href="#" target="_blank">Lita Shop</a>. All rights reserved.</span>
        </div>
    </footer>
    <!-- partial -->
</div>