

<div class="col-md-6 grid-margin transparent">
    <div class="row">
        <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
                <div class="card-body">
                    <p class="mb-4">Admin Logo</p>
                    <p class="fs-30 mb-2"><img src="@ViewBag.AdminSetting" /></p>
                    <p>Admin logosunu incelemek İçin Tıklayınız</p>
                    <a asp-controller="LogoSetting" asp-action="Edit" class="float-right btn btn-light">Değiştir</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
                <div class="card-body">
                    <p class="mb-4">Web Logo</p>
                    <p class="fs-30 mb-2"><img src="@ViewBag.WebSetting" /></p>
                    <p>Site logosunu incelemek İçin Tıklayınız</p>
                    <a asp-controller="LogoSetting" asp-action="Create1" class="float-right btn btn-light">Değiştir</a>

                </div>
            </div>
        </div>
    </div>
   
    </div>


   

